
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand nom-Du-Site text-white" href="#">CandyHunter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>
        <a class="nav-lien" href="#">Tout les Candymons</a>
      </li>
      <li class="nav-item">
        <a class="nav-lien" href="#">Catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-lien" href="#">Carte Candymon</a>
      </li>
    </ul>
  </div>
</nav>