<div class="container biglist">
  <div class="row justify-content-center title-row mb-5 mt-2">
      
        <p id="nomCategorie">Nom de Categorie</p>
        
    </div>
    
    <div class="row justify-content-center bigrow pt-4">
            <div class="col-12 col-md-6 col-lg-4 text-center mt-4" 
            *ngFor="let current of allCandies">
            <p class="candy-name">{{current.productName}}</p>
                <img class="img-fluid candyimg" src={{current.imgUrl}}>
        <button type="button" class="btn btn-orange btn-lg">Voir les Details</button>
            </div>
        
    </div>
    
    
    
    
  </div>
