<div class="container-fluid">
<div class="container biglist bg-black" *ngIf="!showDetail">
  <div class="row justify-content-center title-row mb-4 pt-4 bg-black">
        <p id="nomCategorie">Liste des Bonbons</p>
    </div>
    <div class="row justify-content-center">
    <div class="col-12 text-center bigrow mb-3 pb-3">
        <h5 class="candy-name mb-3">Rechercher un bonbon</h5>
        <input [(ngModel)] = "bonbonTape" value=""/>
    </div>
    </div>
    <div class="row justify-content-center pt-4 bg-black">
        
            <div class="col-12 col-md-6 col-lg-4 text-center mt-4" 
            *ngFor="let current of allCandies | bonbonPipe:bonbonTape">
            <div class="card bg-black border-0">
                <img class="card-img-top candyimg2" src="{{current.imgUrl}}" alt="Card image cap">
                <div class="card-body bg-black">
                  <h5 class="card-title candy-name">{{current.productName}}
                    <i *ngIf="!current.collected" class="fas fa-times bg-black ml-2"></i>
                    <i *ngIf="current.collected" class="fas fa-check bg-black ml-2"></i></h5>
                  
                  <button type="button" class="btn btn-orange btn-lg" 
            on-click="displayDetails(current.candyId)">Voir les Details</button>
                </div>
                
              </div>
              
            <!-- <p class="candy-name">{{current.productName}}</p>
                <img class="img-fluid candyimg" src={{current.imgUrl}}>
            <button type="button" class="btn btn-orange btn-lg" 
            on-click="displayDetails(current.candyId)">Voir les Details</button>
            -->
            </div>
        
    </div>
    
    
    
    
  </div>
</div>
  <div *ngIf="showDetail">
    <app-details-bonbons [id]="idStock"></app-details-bonbons>
  </div>
