<div class="container-fluid image">
  
<section>
    <div class="container-fluid contenu">
        <div class="row">
            <div class="col-lg-9 col-xl-9 col-sm-12 col-md-12 cadreText">
                <div class=" textLandingPage">
                    Bienvenu bande de canaille, vous vous souvenez de moi, le professor Chen. Nous avons besoin de ton aide, une nouvelle espèce a vu le jour récemment. On les appelles les Candymons. Ce sont des créatures fantastiques, ils ont la capacité de prendre l'apparence d'un bonbon pour ne pas qu'on les reconnaisses. Suite à mes recherche j'ai découvert que dans chaque paquet de bonbons on trouvait au moins un candymon. Toutes les sortes de candymon ne sont pas encore connu et leur diversité grandit de jour en jour. Ta mission sera de répertorier toutes les sortes de candymon en les mangeant quand tu en croises. Afin que je puisse suivre ta progression et enrichir mes connaissances je vais te fournir un Candydex. Il te permettra de savoir quels sont les candymons que tu as déjà croisé et où pourras-tu les trouver à nouveau. Je te souhaite bonne chance dans ta chasse au candymons et n'oublie pas... Manges-les tous !
                </div>
            </div>
            <div class="imageChen d-none d-lg-block col-lg-3 col-xl-3 offset-lg-0 offset-xl-0">
                <img class="professor-Chen" src="assets/Professor_Oak_Based_On.png">
            </div>
            <div class="container-fluid">
                <div class="boutonMangez">
                    <div class="boutonStartLanding">
                        <button type="button" class="btn boutonStart bg-orange" data-toggle="button" aria-pressed="false" autocomplete="off">
                            <p routerLink="/liste-bonbons" routerLinkActive="active" class="text-bouton-manger">Partons à l'aventure !</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>