<div class="container-fluid image">
  <div class="pos-f-t">
      <div class="collapse burger-Navbar" id="navbarToggleExternalContent">
            <div class="bg-black p-4">
                <a class="text-white nom-Du-Site" href="#">CandyHunter</a>
                <a class="nav-link" href="#">Tout les Candymon</a>
                <a class="nav-link" href="#">Catégories</a>
                <a class="nav-link" href="#">Carte Candymon</a>
            </div>
      </div>
      <nav class="navbar navbar-dark bg-black">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </nav>
  </div>

<section>
    <div class="container-fluid contenu">
        <div class="row">
            <div class="col-lg-9 col-xl-9 col-sm-12 col-md-12 cadreText">
                <div class=" textLandingPage">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis enim nisi, id euismod velit laoreet eu. In viverra sem odio, a feugiat tellus fermentum et. Sed nec elementum turpis. Vivamus fringilla, ex id fermentum maximus, enim sem pharetra arcu, nec fermentum nulla purus sed elit. Nullam semper sodales eleifend. Maecenas ut ipsum a ante auctor placerat et eget elit. Pellentesque pretium quis ante ut vehicula. Donec dignissim aliquam nunc sed dapibus. Pellentesque ut lacus sit amet enim porttitor lacinia et eget enim. Curabitur semper maximus justo, in condimentum purus ullamcorper quis. Donec justo lacus, vehicula ut posuere vel, mattis at ligula. Quisque dapibus libero vitae tellus placerat sodales. Quisque leo nibh, maximus at erat ut, molestie imperdiet turpis.

                    Mauris ut ultrices enim. Suspendisse quis libero elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse rhoncus mi non felis eleifend, quis aliquam sem dapibus. Duis tempor vitae justo eu volutpat. Curabitur fringilla, est eget fringilla molestie, urna ante faucibus nunc, id dapibus lacus justo sit amet urna. In hac habitasse platea dictumst. Quisque sit amet orci nec quam consectetur sagittis id vitae eros.
                </div>
            </div>
            
            <div class="imageChen d-none d-lg-block col-lg-3 col-xl-3 offset-lg-0 offset-xl-0">
                <img class="professor-Chen" src="assets/Professor_Oak_Based_On.png">
            </div>
            <div class="container-fluid">
                <div class="boutonMangez">
                    <div class="boutonStartLanding">
                        <button type="button" class="btn boutonStart bg-orange" data-toggle="button" aria-pressed="false" autocomplete="off">
                            <p routerLink="/liste-bonbons" routerLinkActive="active" class="text-bouton-manger">Mangez-les tous !</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>